.section {
  background-color: rgb(229, 224, 220);
  pointer-events: all;
  position: relative;
  padding-top: clamp(5em, 21vh, 12em);
  z-index: 2;
}

.section-video-con {
  margin: 0 auto;
  padding-left: 6vw;
  padding-right: 6vw;
  max-width: 100em;
}

.section-video-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 6vw;
  padding-right: 6vw;
}

.section-video-col {
  display: block;
  width: 100%;
  order: 2;
  position: relative;
}

.video-con {
  border-radius: 0.75em;
  width: 100%;
  background: rgba(100, 100, 100, 0.1);
  overflow: hidden;
  position: relative;
  top: unset;
  left: unset;

  //   transform: translate(0, 0);
}

.video-con::before {
  content: "";
  display: block;
  padding-top: 62.5%;
}
.mrt {
  object-fit: cover;
}
