.main__work {
  width: 100%;
  height: 100%;
}
.page-wrapper {
  background-color: white;
}
.work__grid__con {
  margin: 0 auto;
  padding-inline: 12vw;
}

.work__grid__subtitle {
  width: 100%;
  display: flex;
  font-size: 0.6em;
  line-height: 1.065;

  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.5;
  padding-bottom: clamp(1.5em, 4vw, 2.5em);
}

.work__grid__flex-item:nth-child(1) {
  width: 44%;
  padding-left: 1rem;
}
.work__grid__flex-item:nth-child(2) {
  width: 20%;
}
.work__grid__flex-item:nth-child(3) {
  width: 20%;
}
.work__grid__flex-item:nth-child(4) {
  width: 15%;
  padding-right: 1rem;
  text-align: right;
}

.small {
  padding-bottom: 3rem;
}

// .vissible {
//   max-height: calc(clamp(1.75em, 2.3vw, 2.5em) + 4.4em);
//   opacity: 1;
//   transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
// }
// .vissiblee {
//   opacity: 1;
//   transition: opacity 1s ease-in-out;
// }

// .hidden {
//   max-height: 0;
//   opacity: 0;
//   transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
// }

// .hiddeno {
//   opacity: 0;
//   transition: opacity 1s ease-in-out;
// }
.stripe-animete {
  width: 100%;
  background-color: rgba(28, 29, 32, 0.175);
  height: 1px;
}

.work__grid__list__row {
  padding: 2em 0 2em 0;
  font-size: 1em;
  line-height: 1.66;
}
.work__grid__list__row {
  display: flex;
  align-items: center;
}
.work__grid__list {
  //   padding-inline: 12vw;
  transition: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
}

.work__grid__flex-item__row:nth-child(1) {
  width: 44%;
  padding-left: 4vw;
  transition: all 0.3 scubic-bezier (0.7, 0, 0.3, 1);
  font-size: clamp(1.55em, 2.3vw, 2.5em);
}
.work__grid__flex-item__row:nth-child(2) {
  width: 20%;
}
.work__grid__flex-item__row:nth-child(3) {
  width: 22%;
}
.work__grid__flex-item__row:nth-child(4) {
  width: 14%;
  text-align: right;
  padding-right: 4vw;
}

.card-layout {
  display: none;
}

.work__grid__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Automatski raspored u kolonama */

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: relative;
  opacity: 1;
  transform: translateY(0);
  // transition: transform 0.5s ease, opacity 0.5s ease;

  border-radius: 10px;
}

.card-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.card-title {
  padding: 10px;

  font-size: 18px;
}

.card-divider {
  margin: 0;
  border: 1px solid #ddd;
}

.card-content {
  display: flex;
  padding: 10px;
}

.card-text-left,
.card-text-right {
  width: 50%;
  padding: 5px;
}

/* Animacija za grid stavke */
.grid-visible {
  max-height: calc(clamp(1.75em, 2.3vw, 2.5em) + 4.4em);
  opacity: 1;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
}

.grid-hidden {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

/* Animacija za card stavke */
// .card-visible {
//   opacity: 1;
//   transition: 0.5s ease, opacity 0.5s ease;
// }

// .card-hidden {
//   opacity: 0;
//   pointer-events: none;
//   transition: opacity 0.5s ease;
// }

.card-hidden {
  opacity: 0;
  pointer-events: none; /* Onemogućava interakciju sa karticom */
  transform: translateY(-20px);
  visibility: hidden; /* Ovo će karticu učiniti nevidljivom ali neće zauzimati prostor */
  display: none;
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s 0.5s;
}

/* Kada je kartica vidljiva */
.card-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible; /* Ovdje kartica postaje vidljiva */
  display: block;
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s;
}
