.titlesForPages {
  position: fixed; /* Fiksiramo roditeljsku div na ekran */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Uzimamo celu visinu ekrana */
  pointer-events: none;
  z-index: 999999;
}

.titlesForPages__home,
.titlesForPages__work,
.titlesForPages__pro,
.titlesForPages__about,
.titlesForPages__contact,
.titlesForPages__allWork {
  opacity: 0;
  will-change: transform, opacity;
}

.ap {
  position: absolute; /* Apsolutno pozicioniranje */
  top: 50%; /* Prvo pozicioniramo prvi naslov na vrh */
  left: 50%; /* Centriramo svaki naslov horizontalno */
  transform: translate(-50%, -50%); /* Savršeno centriranje horizontalno */
  font-size: 24px; /* Velicina fonta */
  color: white; /* Boja teksta */
  font-size: 30px;
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  line-height: 0.8;
  white-space: nowrap;
}

.curve-svg {
  position: fixed;
  top: -300px;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: calc(100vh + 600px);
  transform: translateY(100%);
  z-index: 99999;
}
